@namespace epub "http://www.idpf.org/2007/ops";

/* Commented out for test
body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
*/

p {
    margin-top: 1.5em;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    text-transform: uppercase;
    font-weight: 200;
}

ol {
    list-style-type: none;
    margin: 0;
}

ol > li {
    margin-top: 0.3em;
}

ol > li > span {
    font-weight: bold;
}

ol > li > ol {
    margin-left: 0.5em;
}